canvas {
    border: 2px solid;
    height: 100%;
    background-color: white;
}

body {
    background-color: lightblue;
}

#image {
    background-image: url("./particle-pix/paccelerato.jpg ");
    background-repeat: no-repeat;
    background-position: center;
    height: 300px;
}

h1 {
    position: center;
    padding: 0 200 0 0;
    margin: 0 200 0 0
}